* {
    margin: 0px;
    padding: 0px;
}


.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

a {
    text-decoration: none;
}

/* Шапка */

.header {
    padding-bottom: 84px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-top: 40px;
}

.menu {
    padding-top: 51px;
    display: flex;
    gap: 40px;
}

.menu__current__item {
    color: #F25822;
    font-family: Gilroy-Semibold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__item {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Основной контент */

.top__content {
    margin-bottom: 103px;
    display: flex;
    justify-content: start;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__buttons {
    margin-top: 37px;
    margin-right: 32px;
    display: flex;
    gap: 72px;
}

.start__button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.watch__button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}


/* Стили к дз № 5 */

.hw5__center {
    padding-left: calc(50% - 602px);
    padding-right: calc(50% - 602px);
}

.hw5__top__content {
    display: grid;
    grid-template-columns: repeat(3, 381px);
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.hw5__middle__item {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.hw5__item {
    height: 291px;
    display: grid;
    justify-items: start;
    align-content: space-evenly;
    padding-left: 29px;
    padding-right: 42px;
}

.hw5__top__icon {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.hw5__item__header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hw5__top__paragraph {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.hw5__top__link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}




.hw5__info__content {
    background: #FAFAFA repeat;

}

.hw5__info__text{
    text-align: center;
    display: grid;
    justify-content: center;
    padding-top: 92px;
    padding-bottom: 50px;
    gap: 19px;
}

.hw5__header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 682px;
}

.hw5__info__paragraph {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    max-width: 682px;
}

.hw5__info__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
    
}

.hw5__info__item {
    background-color: #FFF;
    height: 549px;
    margin-bottom: 100px;
}

.hw5__info__middle__item {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.hw5__info__item__text {
    display: grid;
    justify-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


.hw5__info__img1 {
    padding-bottom: 15px;
}

.hw5__info__item__paragraph {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    padding-top: 22px;
    padding-bottom: 39px;
}


/* Футер */

.foot__logos {
    padding-top: 96px;
    padding-bottom: 97px;
    display: flex;
    justify-content: space-between;
}